@import url(../styles/styledefault.css);
.head-container{
    width: 70%;
    margin: auto; 
    display: flex;
    padding: 0;
}

.appbar{
    width: 70%;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
}
.logo-container{
    width: 110px;
    height: 60px;
    margin: 0;
    padding: 0;
}

.logo-container img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.dropdown{
    position: relative;
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}
/* .main .header-section{
    height: 30px;
    width: 100%;
    background-color: var(--kulayblack);
    position: fixed;
    top: 0;
    left: 0;
}

.main .header-section .header-container{
    width: 70%;
    margin: auto;
    display: flex;
    height: 30px;
}


.main .header-section .header-container .follow{
    color: var(--white);
    display: flex;
    align-items: center;
    flex: 1;
}

.main .header-section .header-container .follow h4{
    margin: 0;
    padding: 0;
}

.main .header-section .header-container .follow .fbcontainer,
.main .header-section .header-container .follow .igcontainer{
    height: 25px;
}

.main .header-section .follow .fbcontainer img,
.main .header-section .follow .igcontainer img{
    height: 100%;
    margin-left: 10px;
}

.main .header-section .header-container .about{
    display: flex;
    align-items: center;
}

.main .header-section .header-container .about li a{
    margin: 0 20px 0 0;
    color: var(--white);
}

.main .header-section .header-container .about li span{
    display: block;
    height: 15px;
    background-color: var(--white);
    width: 2px;
}

.main .header-section .header-container .about li:nth-child(3){
    margin-right: 20px;
} */

/* search container */
/* search container */
/* search container */

/* .main .header-section .search-section{
    height: 80px;
    width: 100%;
    background-color: var(--kulayblack);
}

.main .header-section .search-section .search-container{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}

.main .header-section .search-section .search-container .logo{
    width: 20%;
}

.main .header-section .search-section .search-container .logo .img-container{
    height: 70px;
    width: 150px;
}

.main .header-section .search-section .search-container .logo img{
    height: 100%;
    width: 100%;
}

.main .header-section .search-section .search-container .search-input{
    width: 40%;
    display: flex;
    align-items: center;
}

.main .header-section .search-section .search-container .search-input input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.main .header-section .search-section .search-container .search-input .search-logo{
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.main .header-section .search-section .search-container .search-logo img{
    width: 100%;
    height: 100%;
}

.main .header-section .search-section .search-container .cart{
    width: 5%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.main .header-section .search-section .search-container .profile{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    margin-right: 65px;
}

.main .header-section .search-section .search-container .profile .profile-container{
    width: 60px;
    height: 60px;
}

.main .header-section .search-section .search-container .profile .profile-container img{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
} */